<!DOCTYPE html>
<html>
    <% include ./piece_head.ejs %>
    <body>
        <h1>사용자 추가 성공</h1>
        <div><p>사용자 아이디 : <%= userid %></p></div>
        <div><p>사용자 이름 : <%= username %></p></div>
        <% include ./piece_footer.ejs %>
    </body>
</html>